# BloodSampling Example

This is an example of how to use the `BloodSampling` class to parse and use the data form the BloodSampling excel files.

- Import the data parsers

In [5]:
import src.data as d

- Load the data from the input files and parse it into a more convenient format. (using the BloodSamplingData class)

In [6]:
file_path = "./sample_files/Blood sampling - data 22 weeks.xls"
bloodData = d.BloodSamplingData(file_path)

Successfully loaded blood sampling data
rows: 92
columns: 20

In [8]:
# to acces the data frame use the df attribute
bloodData.df.shape
bloodData.df.sample(10)

,sequence_number,first_animal_V,unknown_animal_V,Brokkalf_V,scan_work_number,injection,ear_tag_country,ear_tag_number,hb_1,hb_2,hb_3,hb_4,hb_5,serum_2,serum_3,serum_4,serum_5,department_number,coat_color,sex
84,79,NaN,NaN,NaN,4682,NaN,FR,5360254682,6.3,5.8,4.8,5.7,NaN,NaN,37.5,23.4,NaN,3,Zwartbont,M
2,1,NaN,NaN,NaN,59427,NaN,DE,1604659427,6.9,5.8,NaN,5.3,NaN,NaN,NaN,15,NaN,1,Zwartbont,M
34,31,NaN,NaN,NaN,21594,NaN,DK,04751121594,6.4,5.2,4.8,5.7,NaN,29.2,25.7,26.4,NaN,2,Wit-blauw stier,M
44,41,NaN,NaN,NaN,08874,NaN,DK,05938208874,6,4.9,6,6.4,NaN,NaN,26.2,29.7,NaN,2,Zwartbont,M
67,64,NaN,NaN,NaN,9541,NaN,FR,3527459541,5,4.6,5.3,5.1,NaN,25.6,29.5,22.2,NaN,3,Zwartbont,M
40,37,NaN,NaN,NaN,21595,NaN,DK,04751121595,6.8,5.5,NaN,7,NaN,NaN,NaN,44.9,NaN,2,Zwartbont,M
85,80,NaN,NaN,NaN,4330,NaN,BE,917694330,6.1,6.4,NaN,5.8,NaN,NaN,NaN,27.3,NaN,4,Zwartbont,V
7,6,NaN,NaN,NaN,18535,NaN,DE,0542418535,4.5,6.3,5.7,5.7,NaN,25.1,18.6,22.3,NaN,1,Zwartbont,M
74,71,NaN,NaN,NaN,1106,NaN,FR,3528171106,7.8,5,6.2,6.5,NaN,NaN,38.2,31,NaN,3,Zwartbont,M
27,26,NaN,NaN,NaN,07757,NaN,DE,0365107757,6.7,4.8,5.5,6.3,NaN,29.8,69.3,47.1,NaN,1,Zwartbont,M

In [4]:
# I also managed to load in the metadata from the excel file, and it has some useful information
print('company:\n', bloodData.meta.company_name)
print('\nmeasurement date:\n', bloodData.meta.measurement_date)
print('\nweek number:\n', bloodData.meta.week_number)

company:
 Kalvermesterij Hooijer B.V.

measurement date:
 2023-12-05 00:00:00

week number:
 22