# BloodSampling Example

This is an example of how to use the `SlaughterData` class to parse and use the data form the slaughter house csv files.

- Import the data parsers

In [1]:
import src.data as d

- Load the data from the input files and parse it into a more convenient format. (using the BloodSamplingData class)

In [9]:
file_path = "sample_files/Slacht Bult 4 EKRO 06-03-2024 2e.xls"
slaughterData = d.SlaughterData(file_path)
slaughterData.df.sample(10)

,ear_tag_number,work_number,#,weight,type,color,fat,birth_date,age_code,Sekse,...,calf,overseer,antibiotics,bacteriology,prostate,injection_neck,injection_chest,slaughter_date,lifetime_in_days,id
39,DE 0365314745,14745,1333,179.69,9,7,2,2023-07-20,V,STIER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-06,230.0,DE0365314745
86,NaN,NaN,85,151.978118,11.223529,6.517647,2.141176,NaT,NaN,NaN,...,0,1,0,2,0,0,0,NaT,NaN,NaN
67,DE 0364657070,57070,1361,158.52,11,6,2,2023-07-24,V,STIER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-06,226.0,DE0364657070
14,DE 1306702735,02735,1308,144.5,12,7,2,2023-07-23,V,STIER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-06,227.0,DE1306702735
32,DE 1307009143,09143,1326,166.46,11,6,2,2023-07-17,V,STIER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-06,233.0,DE1307009143
4,DE 0542723957,23957,1298,162.05,10,6,2,2023-07-21,V,STIER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-06,229.0,DE0542723957
55,DE 1306952355,52355,1349,151.46,12,5,2,2023-07-24,V,STIER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-06,226.0,DE1306952355
54,DE 1406973122,73122,1348,180.86,12,6,3,2023-07-22,V,STIER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-06,228.0,DE1406973122
44,DE 0958957450,57450,1338,159.99,11,6,2,2023-07-20,V,STIER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-06,230.0,DE0958957450
49,DE 1505453364,53364,1343,157.34,11,5,3,2023-07-23,V,STIER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-06,227.0,DE1505453364

In [5]:
file_path = "sample_files/bult 1 slacht pali wk 41 156.5 kg,   .csv"
slaughterData = d.SlaughterData(file_path)
slaughterData.df.sample(10)

,#,sequence_number,couple,ear_tag_number_full,Type,fat_cover,color,sex,weight,correction,UBN,birth_date,slaughter_date,housing,category,deviations,id,lifetime_in_days
75,76,7203,3,IE 214064222182,O+,30,5,A0,"175,5",0,2120263,2023-03-08,2023-10-12,G,V,"OLO,",IE214064222182,218
220,221,8248,3,IE 216294331812,O-,20,5,A0,"155,2",0,2120263,2023-03-12,2023-10-13,G,V,"FLO,",IE216294331812,215
50,51,7178,3,IE 222937487620,O+,30,6,A0,172,0,2120263,2023-02-19,2023-10-12,G,V,NaN,IE222937487620,235
176,177,7560,8,IE 223303492023,P+,20,5,A0,"148,5","0,2",2120263,2023-02-20,2023-10-12,G,V,NaN,IE223303492023,234
321,322,8349,4,IE 219132993156,O-,20,8,A0,"131,9",0,2120263,2023-02-24,2023-10-13,G,V,NaN,IE219132993156,231
326,327,8354,4,IE 224324442658,O0,20,9,A0,"147,2",0,2120263,2023-02-22,2023-10-13,G,V,NaN,IE224324442658,233
186,187,8214,3,IE 216945983913,O0,20,6,A0,"156,1",0,2120263,2023-03-12,2023-10-13,G,V,NaN,IE216945983913,215
22,23,7150,3,IE 222372132917,O0,20,5,A0,"147,1","0,4",2120263,2023-03-05,2023-10-12,G,V,NaN,IE222372132917,221
152,153,7536,8,IE 216499252404,O+,20,5,A0,"172,2",0,2120263,2023-02-19,2023-10-12,G,V,"FLE,",IE216499252404,235
127,128,7511,8,IE 222937467560,O-,20,5,A0,"131,7","0,8",2120263,2023-02-16,2023-10-12,G,V,"ST,",IE222937467560,238